:root {
--color-primary: #E3B873;
--color-secondary: #FFFFFF;
--color-body-dark: #181818;
--color-body-light: #363636;
}

* {
  box-sizing: border-box;
}
/*Typography*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  transform: uppercase;
}

h2 {
  font-size: 2.7rem;
  transform: uppercase;
  letter-spacing: -0.07em;
  color: var(--color-primary);
}

h3 {
  font-size: 2rem;
  transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  transform: uppercase;
  margin: 0;
  font-size: normal;
  font-weight: normal;
  line-height: 25px;
  margin-bottom: 10px;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  list-style: none;
}

ul.list {
  display: inline-block;
}

img{
  max-width: 100%;
}

@media screen and (max-width: 768px) {
}

/*links*/

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-secondary);
}

/*Buttons*/

.btn {
  font-size: 1rem;
  border-radius: 2px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-style: normal;
  cursor: pointer;
}

.btn--primary {
  color: var(--color-secondary);
  background: var(--color-primary);
  padding: 1.3rem 3.3rem;
  white-space: nowrap;
  border: 1px solid var(--color-primary);
}

.btn--secondary {
  color: var(--color-secondary);
  background-repeat: no-repeat;
  background: transparent;
  padding: 1.3rem 3.3rem;
  border: 1px solid var(--color-secondary);
  overflow: hidden;
  outline: none;
}

.btn__nav {
  margin-right: 5rem;
}

.btn--intro {
  margin-left: 2rem;
}

input {
  height: 26px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  border-radius: 0;
  padding: 0 14px 0 0;
  max-width: 231px;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  background: transparent;
}

input .btn--submit {
  height: 30px;
  box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
  border-bottom: 0;
  max-width: 100px;
  font-style: normal;
  border: none;
  color: var(--color-secondary);
  width: 100%;
  font-size: 13px;
  line-height: 51px;
  padding-left: 0;
  padding-right: 0;
}





/*NavBar*/

.header {
  background-color: var(--color-body-dark);
}

.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.header .header__content {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.nav__logo {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-left: 3rem;
}

.header .header__content .nav__list ul li {
  list-style: none;
  margin-right: 4rem;
}

.header .header__content .nav__list ul li a {
  color: var(--color-secondary);
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.heading__accent {
  color: var(--color-primary);
}

nav__tel {
  text-decoration-line: underline;
}


/*Hero*/

.hero {
  background-image: url(/assets/images/hero\ image.png);
  background-size: cover;
  height: 70rem;
  width: 100vw;
  position: relative;
  color: var(--color-secondary);
  margin: -1px auto;
}

.hero .hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7)
}

.container {
  width: 1280px;
  margin: 20rem auto;
  padding: 0 5rem;
}
.hero__heading {
  margin-bottom: 0;
}

.hero__intro {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3rem;
  margin-bottom: 3rem;
}

/*Completed Projects*/

.projects {
  padding: 107px 0 214px;
  background-color: black;
  color: var(--color-secondary);
}

.projects .locations {
  display: flex;
  margin-left: 50%;
  margin-bottom: 45px;
}

.projects .locations ul {
  padding: 0;
}

.one,
.two {
  list-style: none;
  margin-right: 30px;
  font-family: "Yeseva One", cursive;
  font-size: 1.2rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.one:hover,
.two:hover,
.one.active,
.two.active {
  color: var(--color-primary);
  padding-bottom: 7px;
  border-bottom: 1px solid var(--color-primary);
  transition: 0.5s ease-in-out;
}

.projects .content {
  display: flex;
  margin: 0 42px;
}

.projects .content .project-description {
  flex-basis: 50%;
  padding-right: 50px;
  display: grid;

}

.heading_three {
  color: var(--color-primary);
}

.projects-p {
  display: block;
  font-size: 14px;
  line-height: 27px;
}

.project-image {
  display: block;
  margin: auto;
  flex-basis: 50%;
}

.projects .content .project-description .project-details {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto 80px;
}

.projects .content .project-description .project-details .project-features {
  flex-basis: 50%;
  flex-direction: column;
}

.projects .content .project-description .project-details .project-features span {
  display: inline-block;
}

.projects .content .project-description .project-details .project-features span.city-text {
  max-width: 100px;
}

.projects .content .project-description .project-details .project-features span.city-text.narrow {
  max-width: 50px;
}

.dot,
.right {
  padding-left: 20px;
}

/*Online control block*/

.online_control {
  margin-top: -550px;
}

.wrap {
  text-align: center;
  margin: auto;
  max-width: 817px;
}

.break-line {
  width: 55px;
  border-top: 1px solid var(--color-primary);
  border-radius: 30px;
  border-bottom: 0;
}

.online_control .wrap p {
  font-size: 16px;
  line-height: 37px;
  color: var(--color-body-light);
  margin: 25px 84px 91px 84px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  text-align: left;
}

.form-input label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.online_control .wrap form .form-group .form-input label input {
  display: flex;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  border-radius: 0;
  padding: 12px 14px 12px 0;
  max-width: 231px;
  color: var(--color-body-light);
}

.online_control .wrap form .form-group .form-input label input::placeholder {
  color: #363636;
  font-size: 14px;
  line-height: 23px;
}

.form-checkbox {
  margin-top: 34px;
}

.checkbox-label {
  position: relative;
  display: inline-block;
  padding-left: 29px;
  font-size: 14px;
}

.checkbox-label:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0px;
  height: 18px;
  width: 18px;
  border-radius: 1px;
  border: 1px solid var(--color-primary);
}

.checkbox-label .checkbox-custom:before {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border: 1px solid var(--color-primary)
}

.checkbox-label .checkbox-custom:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  height: 5px;
  width: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.online_control .wrap form .form-checkbox input[type=checkbox] {
  display: none;
}

.online_control .wrap form .form-checkbox input[type=checkbox]:checked + label:before {
  background: var(--color-primary);
  border-radius: 1px;
}

.online-control .wrap input {
  width: 100%;
  font-size: 13px;
  height: 50px;
  line-height: 51px;
  border-radius: 4px;
  color: #000;
  outline: none;
  padding: 0 20px;
  transition: all 0.2s;
  box-shadow: none;
  border: 1px solid var(--color-secondary);
}


/*Block repair types*/

.services {
  margin: 7.5rem auto 32.5rem;
}

.services_heading {
  line-height: 2.5rem;
  text-align: center;
}

.icon {
  text-align: center;
  margin-bottom: 2.5rem;
}

.types-repair .service-types .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.types-repair .service-types .cards .card-block {
  max-width: 380px;
  position: relative;
  width: 100%;
  height: auto;
}

.card-inner {
  position: relative;
  text-align: left;
  padding: 25px 34px 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  margin: -133px auto 0 auto;
  background: #FFFFFF;
  max-width: 330px;
}

.card-inner-list {
  display: inline-block;
  margin: 0;
  padding-left: 15px;
  line-height: 2.5rem;
  color: var(--color-body-light);
}

.card-label {
  position: absolute;
  left: 0;
  bottom: -25px;
  margin-left: 25px;
  color: var(--color-secondary);
  background: var(--color-primary);
  padding: 1rem 2.1rem;
  max-width: 100%;
  height: 4rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  font-family: "Yeseva One", cursive;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

/*Leave the comment block*/

.estimate-features .estimate-features-list {
  margin: 0 auto 325px;
  background-image: url(/assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 800px;
}

.estimate-form {
  margin: 230px 80px 14px auto;
  display: flex;
  max-height: 539px;
}

.estimate-form .estimate-features {
  flex-basis: 60%;
}

.estimate-form .estimate-features .estimate-features-list {
  margin-left: 20%;
  max-width: 70%;
}

.estimate-form .estimate-features .estimate-features-list .item {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 39px;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.estimate-form .estimate-features .estimate-features-list .item .item-number {
  content: "";
  background: var(--color-primary);
  width: 42px;
  height: 42px;
  border-radius: 100%;
  padding: 24px;
  z-index: 2;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: var(--color-secondary);
  border: 8px solid var(--color-secondary);
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
}

.estimate-form .estimate-features .estimate-features-list .item .item-number::before {
  counter-increment: number;
  content: "0" counter(number) " ";
  position: absolute;
  left: 14px;
  top: 14px;
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.estimate-form .estimate-features .estimate-features-list .item .item-text {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
  margin-left: 17px;
}

.estimate-form .estimate-submit {
  background: var(--color-body-dark);
  color: var(--color-secondary);
  flex-basis: 40%;
  padding: 28px 49px;
}

.estimate-form .estimate-submit h4 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.estimate-form .estimate-submit #boxed-form:last-child {
  margin-bottom: 10px;
}

.estimate-form .estimate-submit #boxed-form .form-group {
  position: relative;
  margin-top: 48px;
}

.estimate-form .estimate-submit #boxed-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.estimate-form .estimate-submit #boxed-form .form-group input {
  max-width: 100%;
  width: 100%;
  outline: none;
  color: var(--color-secondary);
  border-color: rgba(255, 255, 255, 0.15);
}

.estimate-form .estimate-submit #boxed-form .form-group input::placeholder {
  color: var(--color-secondary);
}

.estimate-form .estimate-submit #boxed-form .form-checkbox {
  margin-top: 15px;
}

.estimate-form .estimate-submit #boxed-form .form-checkbox .checkbox-label {
  position: relative;
  display: inline-block;
  padding-left: 29px;
  font-size: 14px;
}

.estimate-form .estimate-submit #boxed-form .form-checkbox .checkbox-label:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 1px;
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
}

.estimate-form .estimate-submit #boxed-form .form-checkbox .checkbox-label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 6px;
  width: 5px;
  height: 8px;
  border: solid var(--color-secondary);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.estimate-form .estimate-submit #boxed-form .form-checkbox input[type=checkbox] {
  box-sizing: border-box;
  display: none;
}

.estimate-form .estimate-submit #boxed-form .form-checkbox input[type=checkbox]:checked {
  display: none;
}

.estimate-form .estimate-submit #boxed-form .form-checkbox input[type=checkbox]:checked + label:before {
  content: "";
  background: var(--color-primary);
  border-radius: 1px;
}

.estimate-form .estimate-submit #boxed-form .form-checkbox input[type=checkbox]:checked + label:after {
  display: none;
}

.estimate-form .estimate-submit #boxed-form .btn--submit {
  max-width: 213px;
  float: right;
}

.info {
  float: right;
  margin-right: 60px;
}

.info .savings {
  padding: 29px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info .savings img {
  max-width: fit-content;
  position: relative;
  left: -12px;
  top: 10px;
}

.info p {
  color: var(--color-primary);
  display: relative;
  margin-left: px;
  margin-top: 10px;
  vertical-align: start;
  max-width: 50%;
  font-size: 18px;
}


/*Portfolio*/

.portfolio {
  background-image: url(/assets/images/background2.svg);
  background-size: cover;
  position: relative;
  color: var(--color-secondary);
  margin-bottom: 110px;
  margin-top: 352px;
  max-height: 864px;
}

.portfolio .container {
  display: flex;
}

.portfolio .container .portfolio-styles {
  margin: 137px 246px 0 auto;
  z-index: 1;
}

.portfolio .container .portfolio-styles h3 {
  color: var(--color-primary);
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 47px;
  margin-top: 0;
}

.portfolio .container .portfolio-styles p {
  font-size: 20px;
}

.portfolio.container .list {
  margin: auto;
  padding: 0;
}

.portfolio .container .list li {
  margin-bottom: 25px;
}

.portfolio .container .list li a:hover {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.portfolio .container .portfolio-row-1,
.portfolio .container .portfolio-row-2 {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.portfolio .container .portfolio-row-1 img,
.portfolio .container .portfolio-row-2 img {
  max-width: 353px;
  margin-bottom: 40px;
}

.portfolio .container .portfolio-row-1 {
  margin: -40px 45px 0 0;
}

.portfolio .container .portfolio-row-2 {
  margin-top: -112px;
}

/*Testimonials*/

.testimonials {
  padding-bottom: 354px;
  position: relative;
}

.testimonials:before {
  content: "";
  background-image: url(/assets/images/building-2.svg);
  background-repeat: repeat-x;
  background-position: left-bottom;
  background-size: 628px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

.testimonials .title-icon {
  text-align: center;
  margin: 20px 15px 35px 15px;
}

.testimonials h3 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0;
  text-align: center;
  
}

.testimonials .testimonial-text {
  text-align: center;
  font-size: 18px;
  line-height: 29px;
  color: var(--color-body-light);
  max-width: 30%;
  margin: -20px auto 0;
}

.testimonials .testimonial-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.testimonials .testimonial-cards .testimonial-card-block {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
  position: relative;
  text-align: left;
  padding: 25px 34px 50px;
  margin: auto;
  background: #fffff;
  max-width: 330px;
}

.testimonials .testimonial-cards .testimonial-card-block .testimonial-header {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Yeseva One", cursive;
}


.testimonials .testimonial-cards .testimonial-card-block .testimonial-header .client-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 23px;
}

.testimonials .testimonial-cards .testimonial-card-block .testimonial-header h4 {
  max-width: 55%;
  display: inline-block;
  vertical-align: middle;
}

.testimonials .testimonial-cards .testimonial-card-block p {
  text-align: left;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  margin: 5px 0;
}

.testimonials .testimonial-cards .testimonial-card-block .testimonial-label {
  position: absolute;
  left: 0;
  margin-bottom: -25px;
  line-height: 25px;
  display: inline-block;
  align-items: start;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.testimonials .testimonial-cards .testimonial-card-block .testimonial-label img {
  margin-right: 8px;
}

.testimonials .testimonial-cards .testimonial-card-block .testimonial-label .label-left {
  border: 1px solid white;
  padding: 10px;
  margin-top: 10px;
  position: relative;
  text-align: left;
}

